body{
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
    transition: background-color 200ms;
}
.theme-night{
    background-color: rgb(32, 29, 29);
    transition: background-color 200ms;
}
.night-text{
    color: snow;
}

hr{
    width: 40vw;
    opacity: 0.5;
    background-color: rgb(3, 44, 44);
    color: rgb(134, 161, 152);
}
/* from W3 */
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
/* Hide default HTML checkbox */
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #1a9250;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #1a9250;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
.slider.round:before {
    border-radius: 50%;
}




.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.col{
    margin: 30px;
    color: rgba(0,0,0,0.75);
    text-align: center;
}

.main-temp, .degree{
    font-size: 100px;
}
.high, .low, .real{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}

.text{
    animation: show 2s ;
}
@keyframes show{
    from{
        opacity: 0;

    }to{
        opacity: 1;
    }
}

/* .inputLocation:focus{
    background-color: rgb(0, 0, 0,0.85);
    border: none;
    border-radius: 10px;
    transition: background-color 0.75s;
} */
.inputLocation:hover{
    box-shadow: 0px 0px 7px 1px rgb(121, 120, 120);
}
.inputLocation:focus{
    background-color:   rgb(0, 0, 0, 0.75);
    color: snow;
    transition: background-color 500ms;
    opacity: 0.85;
}


.inputLocation{
    margin-top: 2vh;
    width: 30vw;
    height: 45px;;
    background-color: rgb(0, 0, 0, 0.15);
    opacity: 0.55;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: rgb(0, 0, 0, 0.75);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    
    transition: background-color 0.75s;
}

.search-box{
    display: flex;
    justify-content: center;
}

@media (max-width: 480px){
   .search-box{
       display: block;
       text-align: center;
   }

   .inputLocation{
    width: 150px;
    height: 45px;
    }

    .main-temp, .degree{
        font-size: 75px;
    }

}

.btn{  
    margin-top: 2vh;
    margin-left: 5px;
    font-weight: 600;
    height: 45px;;
    width: 110px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border: rgb(90, 90, 90) 1px solid;
    border-radius: 4px;
}

.btn:hover{
    background-color: rgb(0, 0, 0, 0.75);
    color: whitesmoke;
    border: none;
    box-shadow: 0px 0px 7px 1px rgb(121, 120, 120);
}

.local-time{
    margin-top: 20vh;
    font-size: 75px;
}